/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #101013;
	--secondary-bg-color: #25252d;
	--font-color: #fff;
	--secondary-font-color: #bbc;
	--button-color: royalblue;
	--outline-color: #444;
	--light-outline-color: #bbb;
	--input-bg-color: #202020;
	--input-bg-focus-color: #252525;
	--link-gradient: linear-gradient(#3d3d48, #25252d);
	--error-color: #db3030;
	--success-color: #22e222;
	--accent-color: yellow;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

h1,
h2,
h3 {
	font-weight: 500;
	font-family:
		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
}

header:has(h1) {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
}

p {
	margin-block: 1rem;
}

section + section {
	margin-top: 2rem;
}

/* ICONS */

.lucide {
	vertical-align: text-bottom;
}

/* MESSAGES */

.error {
	color: var(--error-color);
	font-weight: 600;
}

.message {
	color: var(--success-color);
	font-weight: 600;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea,
select {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button:not(:disabled) {
	cursor: pointer;
}

button:disabled {
	opacity: 0.75;
}

:is(button, input, textarea, select, a):focus-visible {
	outline: 1px solid var(--light-outline-color) !important;
}

textarea {
	resize: vertical;
}

/* FORMS */

.form-group {
	margin-bottom: 1rem;

	label {
		display: block;
		margin-bottom: 0.2rem;
		font-size: 0.875rem;
		color: var(--secondary-font-color);
	}

	.label-with-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.2rem;
		align-items: end;

		label {
			margin-bottom: unset;
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		background-color: var(--input-bg-color);
		padding: 0.2rem 0.5rem;
		border-radius: 0.2rem;
		outline: 1px solid var(--outline-color);

		&:focus-visible {
			background-color: var(--input-bg-focus-color);
		}
	}
}

/* BUTTONS */

.button {
	background-color: var(--button-color);
	padding: 0.2rem 0.75rem;
	border-radius: 0.2rem;
}

.button.danger {
	background-color: var(--error-color);
}

a.button {
	text-decoration: none;
}

.icon-button {
	border-radius: 100vw;
	width: 2.25rem;
	height: 2.25rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
