/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--error-color: #f12c2c;
	--success-color: #22e222;
	--button-color: royalblue;
	--bg-color: #101013;
	--secondary-bg-color: #25252d;
	--font-color: #fff;
	--light-outline-color: #bbb;
	--outline-color: #444;
	--input-bg-color: #202020;
	--input-focus-color: #252525;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
}

p {
	margin-block: 1rem;
}

section + section {
	margin-top: 2rem;
}

/* MESSAGES */

.error {
	color: var(--error-color);
	font-weight: 600;
}

.message {
	color: var(--success-color);
	font-weight: 600;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea,
select {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button:not(:disabled) {
	cursor: pointer;
}

:is(button, input, textarea, select, a):focus-visible {
	outline: 1px solid var(--light-outline-color) !important;
}

textarea {
	resize: vertical;
}

/* FORMS */

.form-group {
	margin-bottom: 1rem;

	label {
		display: block;
		margin-bottom: 0.1rem;
		font-size: 0.875rem;
	}

	input,
	textarea,
	select {
		width: 100%;
		background-color: var(--input-bg-color);
		padding: 0.2rem 0.5rem;
		border-radius: 0.2rem;
		outline: 1px solid var(--outline-color);

		&:focus-visible {
			background-color: var(--input-focus-color);
		}
	}

	textarea {
		font-size: 1.2rem;
	}
}

.form-actions {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;

	button {
		background-color: var(--button-color);
		padding: 0.2rem 0.75rem;
		border-radius: 0.2rem;
	}

	button.danger {
		background-color: var(--error-color);
	}
}
